<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="BeutyShop_MEntities" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeutyShop_MEntities1" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeutyShop_MEntities2" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeutyShop_MEntities3" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="Салон_красотыEntities" connectionString="metadata=res://*/AppDataFile.Model2.csdl|res://*/AppDataFile.Model2.ssdl|res://*/AppDataFile.Model2.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=Салон_красоты;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeutyShop_MEntities4" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BASEEntities" connectionString="metadata=res://*/AppDataFile.Model52.csdl|res://*/AppDataFile.Model52.ssdl|res://*/AppDataFile.Model52.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BASE.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SALONEntities" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\SALON.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BAZAEntities" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\BAZA.mdf;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="BeutyShop_MEntities5" connectionString="metadata=res://*/AppDataFile.Model1.csdl|res://*/AppDataFile.Model1.ssdl|res://*/AppDataFile.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.0.10.250\SQLEXPRESS;initial catalog=BeutyShop_M;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>